* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 30px 10px 10px 10px;
    color: #111111;
    background-color: rgba(245,245,245,.4);
    font-family: Roboto,RobotoDraft,'Helvetica Neue',arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}
a {
    color: #3c80f6;
    font-weight: 400
}
body,
input {
    font-size: 1em;
}
input[type='url'] {
    display: inline-block;
    width: 100%;
    margin: 0 0 10px;
    padding: 5px;
}
input[type='submit'] {
    padding: 5px;
}
li {
    margin-bottom: 5px;
}
.footer {
    position: absolute;
    bottom: 0;
}
.footer .item {
    padding: 24px;
    display: inline-block;
    color: rgba(0,0,0,0.54);

}
.footer a {
    color: rgba(0,0,0,0.54);
    text-decoration: none;
}
.wrapper {
    max-width: 700px;
    margin: 0 auto;
}
header {
    font-size: 22px;
    font-weight: 200;
    margin: 0 0 30px 0;
    padding: 0 0 7px 0;
    letter-spacing: .03em;
}
header .title {
    font-size: 36px;
    font-weight: 300;
    margin: 11px 0 0 0;
    text-align: center;
}
header .title img {
    float: left;
    width: 27px;
    margin: -6px 8px 0 0;
}
p {
    line-height: 1.4em;
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 25px 0;
    text-align: center;
}
p a {
    color: #111111;
    font-weight: 300
}
form {
    margin: 0 0 30px 0;
    padding: 10px;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.set {
    margin: 0 auto 10px auto;
}
.set input[type='text'],
.set input[type='url'],
.set input[type='email'] {
    box-sizing: border-box;
    width: 50%;
    padding: 5px 5px 7px 5px;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
}
.set input.highlighted {
    border-bottom: 1px solid #3c80f6;
}
.status {
    display: none;
    float: right;
    margin: 9px 15px 0 0;
}
input:focus {
    outline: none;
}
input[type='button'],
input[type='submit'] {
    font-size: 16px;
    padding: 8px 20px;
    cursor: pointer;
    -webkit-transition: background-color .5s;
    border: 1px solid RGBA(255, 255, 255, .3);
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background-color: transparent;
}
input[type='button']:hover,
input[type='submit']:hover {
    border: 1px solid #92BAFF;
}
input[type='button']:active,
input[type='submit']:active {
    -webkit-transition: background-color 0s;
    background-color: RGBA(255, 255, 255, .3);
}
input.submit {
    float: right;
}
