html {
    width: 170px;
}

body {
    margin: 0;
    padding: 0
}

a {
    color: #000;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 5px;
    outline: none
}

a:hover {
    background-color: #e5f1f9
}